{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <div class="holdingBlock">
        <strong class="govuk-tag govuk-!-margin-bottom-2">Development</strong>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Large and Complex Cases v12</h2>
        <p class="govuk-body govuk-!-margin-bottom-10">17 December 2025 - </p>
        <ul class="govuk-list  govuk-list--bullet">
              <li><a href="/version-12/B-off-system-MVP/03-case-overview">Manage materials</a> 
              <li><a href="/version-12/B-off-system-MVP/create-case/01-register-case">Register a case</a></li>
        </ul>
    </div>

    <br>

    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
</div>

{% endblock %}
